@use '../utils/_variables' as *;
@use "../base/reset";
@use '../base/_typographies';
@use '../components/_navbar';


html{
    scroll-behavior: smooth;
}

img#presentation{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    max-width: 600px;
}

header{
    max-width: $mxw;
    margin: auto;
    padding: 0 1.25rem;
    box-sizing: border-box;
    margin-bottom: 8rem;

    section{
        max-width: 550px;
    }
    
    .hidden-div{
        display: none;
    }

    .open{
        display: block;
        position: absolute;
        background-color: cadetblue;
        right: 0;
        top: 0 ;
        text-transform: capitalize;
        li{
            border: black solid 2px;
            padding: 10px 0;
            text-align: center;
        }
        a:hover{
            color: rgb(20, 58, 20);
            font-weight: bolder;
            background-color: chocolate;
        }
    }
}





//@media screen and (max-width :1024px){
    

   
@media screen and (max-width :768px){
    header{
        div{
            background-color: aqua;
            margin-top:300px;
        }
    }
}
@media screen and (max-width :499px){
    header{
        background-color: rgb(146, 127, 255);
    }
}
@media screen and (max-width :320px){
    header{
        background-color: rgb(171, 93, 165);
    }
}